*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: "cour";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kaushanscript/v13/vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2) format('woff2');
}

html{
    font-size: 62.5%;
    font-family: 'Kaushan Script', cursive;
}

body{
    font-size: 3rem;
    background: radial-gradient(#b1010142 1%, rgba(134, 76, 22, 0.945) 30%,black 60%);
    background-attachment: fixed;
}

#container{
    width: 100%;
    /* height: 100%; */

}

header{
    background: linear-gradient(to bottom, black);
    height: 430px;
}

#sable > li{
    position: fixed;
    margin: 1px;
}

/* boton de menu */
span{
    font-size: 3rem;
    padding: 10px;
    color: white;
}

.menu{
    width: 49px;
    z-index: 1;

}

.menu a span:hover{
    color: lightgray;
    transition: all .3s;
}

.menu:hover > ul{
    display: block;
}

.submenu{
    position: fixed;
    display: none;
    font-size: 2rem;
    /* padding-left: 40px;
    padding-top: 180px; */
}
 .submenu li{
    background-color: rgba(66, 66, 66, 0.856);
    width: calc(100vw - 20px);
    text-align: start;
 }

header li ul{
    padding-left: 10px;
    list-style: none;

}
nav{
    text-align: center;
}

/* imagen de portada */
#imagen{
    max-width: 100vw; 
    max-height: 70vh;
}

/* Imagenes de sushis */
.img_sushi{
    width: 100%;
    max-width: 600px;
}

header a{
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 4px rgba(134, 76, 22, 0.945);
}

#content{
    width: 70%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.article1{
    background-color: rgba(66, 66, 66, 0.281);
    
}

#titulo_sushi{

    position: sticky;
    top: 0px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(134, 76, 22, 0.945);
}


.article{
    font-family: "cour";
    background-color: rgba(66, 66, 66, 0.281);
    margin: 100px 0 50px 0;

}

#titulo{
    color: white;
    text-shadow: 7px 7px 5px black;
    text-align: center;
    font-size: 7rem;
}

footer{
    position: block;
    bottom: 0px;
    right: 0px;
    background-color: black;
    text-align: end;
    color: white;
    font-size: 0.7rem;
    height: 20px;
    width: 100vw;
    padding-right: 10px;
}